<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Date </th>
            <th> Ticker </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Type </th>
            <th> Value </th>
            <th> Status </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor = "let trade of trades">
            <td> {{trade.date}} </td>
            <td> {{trade.ticker}} </td>
            <td> {{trade.quantity}} </td>
            <td> {{trade.price}} </td>
            <td> {{trade.type}} </td>
            <td> {{trade.price*trade.quantity}} </td>
            <td> {{trade.state}} </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>


