<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Paper Dashboard PRO Angular</h4>
          <p class="card-category">Are you looking for more components? Please check our Premium Version of Paper Dashboard PRO.</p>
      </div>
      <div class="card-body">
        <div class="table-responsive table-upgrade">
          <table class="table">
            <thead>
              <th></th>
              <th class="text-center">Free</th>
              <th class="text-center">PRO</th>
            </thead>
            <tbody>
              <tr>
                <td>Components</td>
                <td class="text-center">16</td>
                <td class="text-center">160</td>
              </tr>
              <tr>
                <td>Plugins</td>
                <td class="text-center">4</td>
                <td class="text-center">15</td>
              </tr>
              <tr>
                <td>Example Pages</td>
                <td class="text-center">7</td>
                <td class="text-center">27</td>
              </tr>
              <tr>
                <td>Login, Register, Pricing, Lock Pages</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td>DataTables, VectorMap, SweetAlert, Wizard, FullCalendar etc...</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td>Mini Sidebar</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td>Premium Support</td>
                <td class="text-center"><i class="nc-icon nc-simple-remove text-danger"></i></td>
                <td class="text-center"><i class="nc-icon nc-check-2 text-success"></i></td>
              </tr>
              <tr>
                <td></td>
                <td class="text-center">Free</td>
                <td class="text-center">Just $49</td>
              </tr>
              <tr>
                <td class="text-center"></td>
                <td class="text-center">
                  <a href="#" class="btn btn-round btn-default disabled">Current Version</a>
                </td>
                <td class="text-center">
                  <a target="_blank" href="https://www.creative-tim.com/product/paper-dashboard-pro-angular?ref=pd-free-angular-upgrade-live" class="btn btn-round btn-primary">Upgrade to PRO</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>