<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header ">
      </div>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Date </th>
            <th> Ticker </th>
            <th> Quantity </th>
            <th> Price </th>
            <th> Close Price </th>
            <th> Value </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor = "let portfolio of portfolios">
            <td> {{portfolio.date}} </td>
            <td> {{portfolio.ticker}} </td>
            <td> {{portfolio.quantity}} </td>
            <td> {{portfolio.price}} </td>
            <td> {{portfolio.lastClosePrice}} </td>
            <td> {{portfolio.price * portfolio.quantity}} </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </div>
</div>


