<div class="row">
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Create a New Trade:</h5>
      </div>
      <div class="card-body">
        <form name = "myForm">
         
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Date</label>
                <input required #date = "ngModel" type="date" [(ngModel)]="create.date" name= "date" class="form-control" >
                <div clas="alert alert-danger" *ngIf="date.touched && !date.valid"></div>
                <div *ngIf="date.errors?.required">Date is Required</div>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Ticker</label>
                <input required minlength= "3" #ticker = "ngModel" type="text" [(ngModel)]="create.ticker" name= "ticker" class="form-control" >
                <div clas="alert alert-danger" *ngIf="ticker.touched && !ticker.valid"></div>
                <div *ngIf="ticker.errors?.required">Ticker is Required</div>
                <div *ngIf="ticker.errors?.minlength">Too short</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Quantity</label>
                <input required minlength= "1" #quantity = "ngModel" type="number" [(ngModel)]="create.quantity" name= "quantity" class="form-control">
                <div clas="alert alert-danger" *ngIf="quantity.touched && !quantity.valid">Q</div>
                <div *ngIf="quantity.errors?.required">Quantity is Required</div>
                <div *ngIf="quantity.errors?.minlength">Too short</div>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Price</label>
                <input required minlength= "1" #price = "ngModel" type="number" [(ngModel)]="create.price" name= "price" class="form-control">
                <div clas="alert alert-danger" *ngIf="price.touched && !price.valid"></div>
                <div *ngIf="price.errors?.required">Price is Required</div>
                <div *ngIf="price.errors?.minlength">Too short</div>
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Type</label>
                <input required minlength= "3" #type = "ngModel" type="text" [(ngModel)]="create.type" name= "type" class="form-control">
                <div clas="alert alert-danger" *ngIf="type.touched && !type.valid"></div>
                <div *ngIf="type.errors?.required">Type is Required</div>
                <div *ngIf="type.errors?.minlength">Too short</div>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Status</label>
                <input required minlength= "3" ng-pattern="/^[A-Z\s]*$/" #state = "ngModel"  type="text" [(ngModel)]="create.state" name= "state" class="form-control" >
                <div clas="alert alert-danger" *ngIf="state.touched && !state.valid"></div>
                <div *ngIf="state.errors?.required">Status is Required</div>
                <div *ngIf="state.errors?.minlength">Too short</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button  (click) = "postNow()"  >Create Trade</button>
            </div>
          </div>
        </form>
      </div>
       <router-outlet></router-outlet>
    </div>
  </div>
</div>
<br><br>
